@font-face {
  font-family: "iconfont"; /* Project id 3417707 */
  src: url('iconfont.woff2?t=1661046032674') format('woff2'),
       url('iconfont.woff?t=1661046032674') format('woff'),
       url('iconfont.ttf?t=1661046032674') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzi:before {
  content: "\e7e9";
}

.icon-licai:before {
  content: "\e7ea";
}

.icon-jujia:before {
  content: "\e7eb";
}

.icon-touzi:before {
  content: "\e7ec";
}

.icon-jianzhi:before {
  content: "\e7ed";
}

.icon-qita:before {
  content: "\e7ee";
}

.icon-lvhang:before {
  content: "\e7ef";
}

.icon-bangong:before {
  content: "\e7f0";
}

.icon-caipiao:before {
  content: "\e7f1";
}

.icon-fushi:before {
  content: "\e7f2";
}

.icon-jiaotong:before {
  content: "\e7f3";
}

.icon-chongwu:before {
  content: "\e7f4";
}

.icon-gouwu:before {
  content: "\e7f5";
}

.icon-haizi:before {
  content: "\e7f6";
}

.icon-lijin:before {
  content: "\e7f7";
}

.icon-canyin:before {
  content: "\e7f8";
}

.icon-kuaidi:before {
  content: "\e7f9";
}

.icon-juanzeng:before {
  content: "\e7fa";
}

.icon-riyongcopy:before {
  content: "\e7fb";
}

.icon-qiche:before {
  content: "\e7fc";
}

.icon-shuji:before {
  content: "\e7fd";
}

.icon-shezhi:before {
  content: "\e7fe";
}

.icon-qinyou:before {
  content: "\e7ff";
}

.icon-shucai:before {
  content: "\e800";
}

.icon-tongxun:before {
  content: "\e801";
}

.icon-shuiguo:before {
  content: "\e802";
}

.icon-xuexi:before {
  content: "\e803";
}

.icon-shuma:before {
  content: "\e804";
}

.icon-yanjiu:before {
  content: "\e805";
}

.icon-liwu:before {
  content: "\e806";
}

.icon-yiliao:before {
  content: "\e807";
}

.icon-shejiao:before {
  content: "\e808";
}

.icon-weixiu:before {
  content: "\e809";
}

.icon-yule:before {
  content: "\e80a";
}

.icon-yundong:before {
  content: "\e80b";
}

.icon-changbei:before {
  content: "\e80c";
}

.icon-zhufang:before {
  content: "\e80d";
}

.icon-lingshi:before {
  content: "\e80e";
}

.icon-icon_zhongxue:before {
  content: "\e615";
}

.icon-icon_daxue:before {
  content: "\e616";
}

.icon-icon_baoxue:before {
  content: "\e617";
}

.icon-icon_wu:before {
  content: "\e618";
}

.icon-icon_yejianwu:before {
  content: "\e619";
}

.icon-icon_fuchen:before {
  content: "\e626";
}

.icon-icon_yangsha:before {
  content: "\e627";
}

.icon-icon_shachenbao:before {
  content: "\e628";
}

.icon-icon_wushuju:before {
  content: "\e629";
}

.icon-icon_qingtian:before {
  content: "\e608";
}

.icon-icon_yejianqingtian:before {
  content: "\e609";
}

.icon-icon_yintian:before {
  content: "\e60a";
}

.icon-icon_duoyun:before {
  content: "\e60b";
}

.icon-icon_yejianduoyun:before {
  content: "\e60c";
}

.icon-icon_zhenyu:before {
  content: "\e60d";
}

.icon-icon_xiaoyu:before {
  content: "\e60e";
}

.icon-icon_zhongyu:before {
  content: "\e60f";
}

.icon-icon_dayu:before {
  content: "\e610";
}

.icon-icon_baoyu:before {
  content: "\e611";
}

.icon-icon_leizhenyu:before {
  content: "\e612";
}

.icon-icon_zhenxue:before {
  content: "\e613";
}

.icon-icon_xiaoxue:before {
  content: "\e614";
}

